<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/joint.css" />
	<link rel="stylesheet" href="css/ahab.css" />
    <title> The Ambiguity Heuristics Analysis Builder </title>
</head>

<body>
	<header>
        <div class="row bg-secondary text-white">
			<div class="col col-sm- pl-5">
				<img src="img\ahab_small.jpg" class="img-thumbnail float-left" style="margin-right: 20px;">
				<div class="h1 pt-4"> Welcome to AHAB </div>
				<div class="h3"> The Ambiguity Heuristics Analysis Builder</div>
			</div>
		</div>
    </header>

    <!--- MODELING CODE BEGINS HERE --->
<div class="container-fluid">
	<div class="row">
		<div class="col-md">
			<div class="row">
				<div class="btn-toolbar" id="capturer_panel_loadSave">
					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file" id="importLegalText" name="importLegalText" class="custom-file-input" placeholder="Input group example"  onchange="loadText(event);" aria-describedby="importLegalText01">
							<label class="custom-file-label" for="importLegalText01">Load Legal Text</label>
						</div>
						<div class="input-group-append">
							<button type="button" class="btn btn-dark" id="copyLegalText" onclick="selectText();">Capture Text</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl">
						<form class="form-inline">
							<select id="highlight" class="custom-select my-1 mr-sm-2" name="highlight" onchange="">
								<option value="0">Highlight Off</option>
								<option value="1">Highlight All</option>
							    <option value="2">Highlight Selected</option>
							</select>
						</form>
					<div id="CapDisplay" class="CapDisplay" display='block'>
						<h1>LEGAL TEXT GOES HERE</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="row">
				<div class="btn-toolbar" id="model_panel_loadSave">
					<div class="input-group">
						<div class="custom-file">
							<input type="file" id="importGraph" name="importJSONGraph01" class="custom-file-input" onchange="rdfile(event);" aria-describedby="importJSONGraph01Addon">
							<label class="custom-file-label" for="importJSONGraph01Addon">Import/Export Model Files</label>
						</div>
						<div class="input-group-append">
							<button type="button" class="btn btn-dark" id="exportGraph" onclick="exprtGraph(1);"> Export </button>
							<button type="button" class="btn btn-dark" id="savePicture" onclick="savePicture();"> Picture </button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-">
					<div id="paper_container">
						<div class="row">
							<div class="wrapper" id="paperBox">
								<div class="paper" id="paper-multiple-papers0"></div>
								<div class="paper" id="paper-multiple-papers1"></div>
								<div class="paper" id="paper-multiple-papers2"></div>
								<div> <canvas id="heatmap_legend" name="heatmap_legend" class="heatmap_legend" width="0" height="0" style="border:0px solid #d3d3d3;">Your browser does not support the HTML5 canvas tag.</canvas> </div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="btn-group">
									<button type="button" class="btn btn-dark" id="zoom" onclick="scalePaper('in');">Zoom In<img src="img/outline_zoom_in_white_48dp.png"></img></button>
									<button type="button" class="btn btn-dark" id="zoom" onclick="scalePaper('reset');">Reset<img src="img/outline_youtube_searched_for_white_48dp.png"> </img></button>
									<button type="button" class="btn btn-dark" id="zoom" onclick="scalePaper('out');">Zoom Out<img src="img/outline_zoom_out_white_48dp.png"></img></button>
									<form class="form-inline" id="canvasColor">
									   <select id="canvasClr" class="custom-select my-1 mr-sm-2" name="canvasClr" onchange="canvasColor();">
										   <option value=""> Choose Canvas Color </option>
										   <option value="gray"> Gray </option>
										   <option value="white"> White </option>
										   <option value="lightgray"> Light Gray </option>
										   <option value="green"> Green </option>
										   <option value="blue"> Blue </option>
										   <option value="lightblue"> Light Blue </option>
										   <option value="black"> Black </option>
									   </select>
									</form>
								</div>
							</div>
							<div class="col">
								<div id="preview_panel" class="preview_panel">
									<div class="paper" id="paper-multiple-papers-small"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm" id="modelingPalette">
			<h2>Model Palette</h2>
			<div class="row">
				<div class="btn-group" role="group" aria-label="Modeling Tools">
				  <!-- <button type="button" class="btn btn-dark" id="edit" onclick="editAmbiguity();">Edit Model</button> -->
				  <label class="my-1 mr-2" for="heatmap"><button type="button" class="btn btn-dark" disabled>Heatmap Selection</button></label>
				  <form class="form-inline">
					  <select id="heatmap" class="custom-select my-1 mr-sm-2" name="heatmap" onchange="colorGraph();">
					   <option value="off">Heatmap Off</option>
					   <option value="0">Implementability</option>
					   <option value="1">Intentionality</option>
					   <option value="2">Severity</option>
					   <option value="3">Ambiguity Type</option>
					  </select>
				   </form>
				</div>
			</div>
			<div class="row">
				<div id="graphthinger" value="" class="graphthinger"></div>
				<div class="stencilGraph" id="graph_stencil_panel" value="">
					<div class="paper" id="paper-stencil-panel" class="stencilGraphPaper"></div>
				</div>
				<table class="table">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Item</th>
						<th scope="col">Information</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">Unique Artifact ID: </th>
						<td>
							<input type="text" id="linkedArti" class="textbox" name="linkedArti" value="UUID0">
						</td>
					</tr>
					<tr>
						<th scope="col">Regulatory Text ID:</th>
						<td>
							<input type="text" id="rgrtyTextID" class="textbox" name="rgrtyTextID" value="Please add the legal reference ID...">
						</td>
					</tr>
					<tr>
						<!--- <th scope="col">Perspective: </th>
						<td>
							<div class="form-check">
								<form id="perspective" name="perspective" onchange="colorGraph();copyAmbiguity();">
									<input type="radio" name="perspective" value="0" checked> 1
									<input type="radio" name="perspective" value="1"> 2
									<input type="radio" name="perspective" value="2"> 3 <br>
									<input type="radio" name="perspective" value="3"> 4
									<input type="radio" name="perspective" value="4"> 5 <br>
								</form>
							</div>
						</td>
					</tr>
					<tr> --->
						<th scope="col">Regulatory Text: </th>
						<td>
							<textarea id="rgrtyText" class="textbox" name="rgrtyText" value="">Please add regulatory text here...</textarea>
						</td>
					</tr>
					<tr>
						<th scope="col">Regulatory Text Reference: </th>
						<td>
							<form id="rgrtyTextRef" name="rgrtyTextRef" onchange="colorGraph();">
								<input type="radio" name="rgrtyTextRef" value="Partial Phrase" checked> Partial Phrase
								<input type="radio" name="rgrtyTextRef" value="Phrase"> Phrase <br>
								<input type="radio" name="rgrtyTextRef" value="Sentence"> Sentence
								<input type="radio" name="rgrtyTextRef" value="Full Text"> Full Text <br>
							</form>
						</td>
					</tr>
					<tr>
						<th scope="col">Ambiguity type:</th>
						<td>
							<form id="ambiguity" name="ambiguity" onchange="colorGraph();">
								<input type="radio" name="ambiguity" value="Lexical" checked> Lexical
								<input type="radio" name="ambiguity" value="Syntactic"> Syntactic <br>
								<input type="radio" name="ambiguity" value="Semantic"> Semantic
								<input type="radio" name="ambiguity" value="Vagueness"> Vagueness <br>
								<input type="radio" name="ambiguity" value="Incompleteness"> Incompleteness
								<input type="radio" name="ambiguity" value="Referential"> Referential <br>
								<input type="radio" name="ambiguity" value="Other"> Other <br>
							</form>
						</td>
					</tr>
					<tr>
						<th scope="col">Notes: </th>
						<td>
							<textarea id="notesText" class="textbox" name="notesText" value="">Please add any notes here...</textarea>
						</td>
					</tr>
					<tr>
					<th scope="col">Severity:</th>
					<td>
						<form id="severity" class="radio" name="severity" onchange="colorGraph();">
							<input type="radio" name="severity" value="1" checked> 1
							<input type="radio" name="severity" value="2"> 2
							<input type="radio" name="severity" value="3"> 3
							<input type="radio" name="severity" value="4"> 4
							<input type="radio" name="severity" value="5"> 5
						</form>
					</td>
					</tr>
					<tr>
						<th scope="col">Intentionality: </th>
						<td>
							<form id="intentionality" name="intentionality" onchange="colorGraph();">
								<input type="radio" name="intentionality" value="y" checked> yes
								<input type="radio" name="intentionality" value="n"> no
							</form>
						</td>
					</tr>
					<tr>
						<th scope="col">Implementability: </th>
						<td>
							<form id="implementability" name="implementability" onchange="colorGraph();">
								<input type="radio" name="implementability" value="y" checked> yes
								<input type="radio" name="implementability" value="n"> no
							</form>
						</td>
					</tr>
					<!-- <tr>
						<th scope="col"><i>For Links Only</i> Link Weight: </th>
						<td>
							<input type="text" id="linkWeight" class="textbox" name="linkWeight" value="Please add the value for the link...">
						</td>
					</tr> -->
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
	<footer>
		<div class="row bg-secondary text-white">
			<div class="mx-auto">Created by: Aaron Massey et al.</div>
		</div>
	</footer>
<!-- ================ Templates ================================================ -->

<script type="text/template" id="ambiguity-template">
	<div class="view">
		<fieldset>
			<legend>Ambiguity</legend> <b>UUID:</b> <label for="uuid"><%- uuid %></label> <input name="uuid" id="uuid" class="edit" value="<%- uuid %>"><br>
			<b>Ambiguity Type:</b> <label for="ambiguityType"><%- ambiguityType %></label> <input id="ambiguityType" name="ambiguityType" class="edit" value="<%- ambiguityType %>"><br>
			<b>Severity:</b> <label for="severity"><%- severity %></label> <input id="severity" name="severity" class="edit" value="<%- severity %>"><br>
			<b>Implementability:</b> <label for="implementability"><%- implementability %></label> <input id="implementability" name="implementability" class="edit" value="<%- implementability %>"><br>
			<b>Intentionality:</b> <label for="intentionality"><%- intentionality %></label> <input id="intentionality" name="intentionality" class="edit" value="<%- intentionality %>"><br>
			<b>Regulatory Text:</b> <label for="regulatoryText"><%- regulatoryText %></label> <input id="regulatoryText" name="regulatoryText" class="edit" value="<%- regulatoryText %>"><br>
			<b>Regulatory Text Reference:</b> <label for="regulatoryTextRef"><%- regulatoryTextRef %></label> <input id="regulatoryTextRef" name="regulatoryTextRef" class="edit" value="<%- regulatoryTextRef %>"><br>
			<b>Regulatory Text Id:</b> <label for="regulatoryID"><%- regulatoryID %></label> <input id="regulatoryID" name="regulatoryID" class="edit" value="<%- regulatoryID %>"><br>
			<b>Notes:</b> <label for="notesText"><%- notesText %></label> <input id="notesText" name="notesText" class="edit" value="<%- notesText %>"><br>

		</fieldset>
		<button class="destroy">remove</button>
	</div>
</script>

<!-- Scripts -->
    <script src="scripts/jquery.js"></script>
	<script src="scripts/html2canvas.js"></script>
	<script src="scripts/download.js"></script>
    <script src="scripts/lodash/index.js"></script>
    <script src="scripts/backbone/backbone.js"></script>
    <script src="scripts/joint.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/backbone.localStorage.min.js"></script>
    <script src="scripts/graphlib.js"></script>
    <script src="scripts/dagre.core.js"></script>
    <script src="scripts/html2canvas.js"></script>
    <script src="scripts/ahab/Main-Analysis.js"></script>
    <script src="scripts/ahab/Models.js"></script>
    <script src="scripts/ahab/BackboneView.js"></script>
    <script src="scripts/ahab/Features.js"></script>
    <script type="text/javascript">
        window.onload = main(500, 700);
    </script>
</body>
</html>
